# macOS
.DS_Store

# VS Code
.vscode/

# AI Engineering Auditor
docs/ai-auditor/.workspace.json

# Logs
*.log

observer/vscode-extension/aiea-vscode-observer/node_modules/
observer/vscode-extension/aiea-vscode-observer/out/
observer/vscode-extension/node_modules/
observer/vscode-extension/out/